/public/hot
/public/storage
/public/*/
/public/mix-manifest.json
/vendor/
/node_modules/
packages/
/.vscode
/.vagrant
/.phpstorm.*
/bootstrap/compiled.php
.env.*.php
.env.php
.env
.idea
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
/storage/*.key
.env.backup
.phpunit.result.cache
\.php_cs\.cache
/storage/clockwork/
